header{
    background-color: rgb(62, 119, 241);
    color: rgb(249, 252, 119);
    text-align: center;
}

main{
    background-color: rgb(249, 252, 119);
    color: rgb(62, 119, 241);
    text-align: center;
}